
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
env/


.env
.env.*
profiles.yml
*.pem
*.key


**/target/
**/dbt_packages/
**/logs/
**/.user.yml

#local data
data/

*.csv
*.json
*.parquet
*.xlsx
*.xls


input/
output/
*.hyper
*.twb
*.twbx


jaffle_shop/


logs/
*.log


.vscode/
.idea/


.DS_Store
Thumbs.db
desktop.ini


*.tmp
*.temp
*.bak
*.swp